#leafletMap {

    height: 100%;

}


ion-spinner {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.popwidth {
    --min-width: 370px;
}